body {
    display: flex;
    justify-content: center;
}

#containerFull {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 800px;
    background-color: gray;
}