<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login for store owner</title>
    <link href="css/default.css" rel="stylesheet"/>
    <link href="css/loginStore.css" rel="stylesheet"/>
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- <script src="js/mainStore.js"></script> -->
</head>
<body>
    <section>
        <div class="header">
            <!-- header content -->
            <div onClick="location.href='/loginStore'" style="cursor:pointer" class="headerButton" id="loginPage"> 로그인 </div>
            <div onClick="location.href='/mainStore'" style="cursor:pointer" class="headerButton" id="stampAddPage"> 가게 </div>
            <div onClick="location.href='/adminPage'" style="cursor:pointer" class="headerButton" id="adminPage"> 관리 </div>
            <div onClick="location.href='/statistic'" style="cursor:pointer" class="headerButton" id="statisticPage"> 통계 </div>
        </div>
    </section>
    <div id="containerFull">
        <div id="loginForm">
            <p>가게 매니저 로그인</p>
            <hr width="80%">
            <form action="/loginStore/login" method="post">
                <div>아이디</div> <input type="text" class="loginInput" id="id" name="id" placeholder="abc1234">
                <div>비밀번호</div> <input type="text" class="loginInput" id="password" name="password" placeholder="qwer1234">
                <input type="submit" value="조회" id="loginButton">
            </form>
            <hr width="80%">
            <a href="/registerStore" id="registerButton">회원가입</a>
        </div>
    </div>
    <section>
        <div class="footer">
        </div>
    </section>
</body>
<script>
    <% if (alertMessage && alertMessage.length > 0) { %>
        alert("<%= alertMessage %>");
    <% } %>
</script>
</html>