<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage for store owner</title>
    <link href="css/default.css" rel="stylesheet"/>
    <link href="css/mainStore.css" rel="stylesheet"/>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/mainStore.js"></script>
</head>
<body>
    <section>
        <div class="header">
            <!-- header content -->
            <% if (!storeName) { %>
            <div onClick="location.href='/loginStore'" style="cursor:pointer" class="headerButton" id="loginPage"> 로그인 </div>
            <% } else { %>
                <div onClick="location.href='/logoutStore'" style="cursor:pointer" class="headerButton" id="logoutPage"> 로그아웃 </div>
            <% } %>
            <div onClick="location.href='/mainStore'" style="cursor:pointer" class="headerButton" id="stampAddPage"> 가게 </div>
            <div onClick="location.href='/adminPage'" style="cursor:pointer" class="headerButton" id="adminPage"> 관리 </div>
            <div onClick="location.href='/statistic'" style="cursor:pointer" class="headerButton" id="statisticPage"> 통계 </div>
        </div>
    </section>
    <div id="containerFull">
        <hr width="80%">
        <section>
            <div class="nameInquire">
                <% if (storeName) { %>
                    <p><%= storeName %> 매니저님</p>
                <% } else { } %>  
                <% if (isLogin) { %>
                <form action="/mainStore" method="get">
                    <input type="text" id="nickname" name="nickname" placeholder="닉네임">
                    <input type="submit" value="조회" id="nameInquireButton">
                </form>
                <% } else { %>
                    <p>로그인 해주세요!</p>
                <% } %>
            </div>
        </section>
        <hr width="80%">
        <section>
            <div class="info">
                <div class="searchedNickname">
                    <% if (nickname && nickname.length > 0) { %>
                        <p>손님 <%= nickname %>님, 반갑습니다. </p>
                    <% } else { } %>
                </div>
        </section>
        <% if (isLogin) { %>
            
                <section>
                    <div class="stampContainer">
                        <% if (nickname && nickname.length > 0) { %>
                            <% for (var i = 0; i < stampNumber; i++) { %>
                                <div class="stampImage"></div>
                            <% } %>
                        <% } else { %>
                            <p>손님의 이름을 검색해주세요!</p>
                        <% } %>
                    </div>
                </section>
                <section>
                    <div class="stampAdd">
                        <% if (nickname && nickname.length > 0) { %>
                        <form action="/mainStore/stampAdd" method="">
                            <input type="text" name="stampAdd" placeholder="구매금액 (원)">
                            <input type="hidden" name="nickname" value=<%= nickname %>>
                            <input type="submit" value=" " id="stampAddButton">
                        </form>
                        <% } else { %>

                        <% } %>
                    </div>
                </section>
                <hr width="80%">
        <% } else { %>
            
        <% } %>
    </div>
    <section>
        <div class="footer">
            <!-- footer content -->
            
        </div>
    </section>
</body>
<script>
    <% if (alertMessage && alertMessage.length > 0) { %>
        alert("<%= alertMessage %>");
    <% } %>
</script>
</html>