<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register for store</title>
</head>
<body>
    register for store

    <form action="/registerStore" method="post">
        id <input type="text" id="id" name="id" placeholder="id">
        password <input type="text" id="password" name="password" placeholder="password">
        storeName <input type="text" id="storeName" name="storeName" placeholder="storeName">
        storeLogo <input type="text" id="storeLogo" name="storeLogo" placeholder="storeLogo">
        storeAddress <input type="text" id="storeAddress" name="storeAddress" placeholder="storeAddress">
        stampMax <input type="number" id="stampMax" name="stampMax" placeholder="stampMax">
        stampEvent <input type="text" id="stampEvent" name="stampEvent" placeholder="stampEvent">
        stampImage <input type="text" id="stampImage" name="stampImage" placeholder="stampImage">
        <input type="submit" value="조회" id="registerButton">
    </form>
    
</body>
</html>